(
    format: 1,
    allowed_states: Default,
    animations: {
        Walking: "base:player/walking",
        Idle: "base:player/idle",
        Sprinting: "base:player/sprinting",
        Running: "base:player/running",
    },
)