(
    format: 1,
    allowed_states: Default,
    animations: {
        Walking: "base:player/walking",
        Running: "base:player/running",
        Sprinting: "base:player/sprinting",
        Idle: "base:player/idle",
    },
    attacks: [
        "base:player/basic_attack",
    ],
)