(
    format: 1,
    tile_palette: [
        "base:grass",
        "base:grass_stairs_top_left",
        "base:grass_stairs_top_right",
        "base:grass_stairs_bottom_left",
        "base:grass_stairs_bottom_right",
    ],
    tiles: [
        [
            [0, 0, 0, 1, 0, 0, 0],
            [0, 1, 1, 1, 1, 1, 0],
            [0, 1, 1, 1, 1, 1, 0],
            [1, 1, 1, 1, 1, 1, 1],
            [0, 1, 1, 1, 1, 1, 0],
            [0, 1, 1, 1, 1, 1, 0],
            [0, 0, 0, 1, 0, 0, 0],
        ],
        [
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0],
            [0, 2, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0],
            [0, 2, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0],
        ],
    ],
    connections: [
        (
            location: (3, 0, 0),
            connection_size: Small,
            facing: North,
        ),
        (
            location: (7, 0, 3),
            connection_size: Small,
            facing: East,
        ),
        (
            location: (3, 0, 7),
            connection_size: Small,
            facing: South,
        ),
        (
            location: (0, 0, 3),
            connection_size: Small,
            facing: West,
        ),
    ],
)